:root {
  --rojo-principal: #D40032;      /* Botones destacados, logos, acentos */
  --texto-oscuro: #363636;        /* Títulos y textos principales */
  --gris-fondo: #F8F9FA;          /* Fondos de secciones */
  --blanco: #FFFFFF;              /* Tarjetas y fondo general */
}

html, body {
  cursor: default;
}

/* Bloquear seleccion solo en elementos interactivos / UI */
button,
a,
svg,
i,
.MuiButtonBase-root,
.MuiListItemIcon-root,
.MuiIconButton-root {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Asegurar que los inputs y textos editables puedan seleccionarse*/
input,
textarea,
[contenteditable],
select {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: auto;
}
