@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --rojo-principal: #D40032;      /* Botones destacados, logos, acentos */
  --texto-oscuro: #363636;        /* Títulos y textos principales */
  --gris-fondo: #F8F9FA;          /* Fondos de secciones */
  --blanco: #FFFFFF;              /* Tarjetas y fondo general */
}

html, body {
  cursor: default;
  font-family: 'Poppins', sans-serif;
  color: var(--texto-oscuro);
}

/* Bloquear seleccion solo en elementos interactivos / UI */
button,
a,
svg,
i,
.MuiButtonBase-root,
.MuiListItemIcon-root,
.MuiIconButton-root {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Asegurar que los inputs y textos editables puedan seleccionarse*/
input,
textarea,
[contenteditable],
select {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: auto;
}

body {
  font-family: 'Poppins', sans-serif !important;
  color: var(--texto-oscuro);
  background-color: var(--gris-fondo);
  -webkit-font-smoothing: antialiased;
}

/* Asegurar que los botones de MUI respeten nuestra tipografía y no usen 3D */
.MuiButton-root {
  text-transform: none !important;
  font-weight: 600 !important;
  border-radius: 12px !important;
  box-shadow: none !important; /* Adiós al 3D de MUI */
}
.MuiButton-containedPrimary {
  background-color: var(--rojo-principal) !important;
}
