.ProximosTurnos {
    width: 100%;
    height: fit-content;
    padding: 0;
    overflow: hidden;
    background: var(--blanco);
}

.ProximosTurnos_content {
    display: flex;
}

.ProximosTurnos_content {
    display: flex;
}

.ProximosTurnos_content_child {
    width: 100%;
}

.ProximosTurnos_turnos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 25px 25px;
}
