.contendor-misTurnos{
    max-width : 1100px;
    margin-top: 2rem;

}

.card-turno{
    border-radius: '8px';
    box-shadow: '0 4px 12px rgba(0,0,0,0.05)' 
}

.titulo-misTurnos{
    font-family: "'Poppins', sans-serif";
    margin-bottom: '1.5rem';
    color: '#c90e31'
}