@import "../../index.css";

.EstadisticaTurnos_title,
.EstadisticaTurnos_content {
    margin: 0;
}

.EstadisticaTurnos_title {
    color: var(--texto-oscuro);
    font-size: 0.95rem;
    line-height: 1.35;
    text-align: left;
}

.EstadisticaTurnos_content {
    color: var(--rojo-principal);
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
}
