@import "../../index.css";

.EstadisticaTurnos {
    width: 100%;
    display: flex;
    gap: 15px;
    min-width: fit-content;
}

.EstadisticaTurnos_card {
    display: flex;
    flex: 1 1 0;
    min-width: 220px;
    height: 150px;
}

.EstadisticaTurnos_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.EstadisticaTurnos_title {
    color: var(--texto-oscuro);
    font-size: 1.3rem !important;
    line-height: 1.35;
    text-align: left;
}

.EstadisticaTurnos_valor {
    color: var(--rojo-principal);
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

.EstadisticaTurnos_title,
.EstadisticaTurnos_valor {
    margin: 0;
}

@media (max-width: 1300px) {
    .EstadisticaTurnos {
        flex-wrap: wrap;
    }

    .EstadisticaTurnos_card {
        flex: 1 1 calc(50% - 8px);
    }
}

@media (max-width: 600px) {
    .EstadisticaTurnos_card {
        flex: 1 1 100%;
    }
}
